// Variables go here
$size-container-width: 960px;

$size-small : 12px;
$size-medium : 20px;
$size-large : 28px;
$size-xlarge : 36px;

// colors
$color-overlay : rgba(0, 0, 0, 0.5);

// fonts
$font-header : 'Playfair Display', serif;
$font-body : 'Open Sans', sans-serif;

$font-size-small : 12px;
$font-size-medium : 24px;
$font-size-large : 48px;
$font-size-default : 16px;

//colors

$color-white: #ffffff;
$color-black: #000000;
